#vol {
  -fx-alignment: CENTER_RIGHT;
}
.table:focused{
    -fx-background-color: transparent;
}
/*
.table-row-cell:empty {
    -fx-background-color: white;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

*/

/*
.table{
   -fx-background-color: #b2b9c4;
   -fx-border-color: #525053; 
}
.table:focused{
    -fx-background-color: transparent;
}
.table .column-header-background{
    -fx-background-color: #e6553a;
}
.table .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.table-column {
  -fx-alignment: center;
}
.table .column-header {
    -fx-background-color: transparent;
}
.table-row-cell{
    -fx-background-color: #E4E4E4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-font-size:13px;
}
.table-row-cell:odd{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
*/